
@media (min-width: 576px){
    .container{
        max-width: 540px;
    }
}
@media (min-width: 768px){
    .container{
        max-width: 720px;
    }
    .d-md-block {
    display: block!important;
    }
    .hero {
    padding-top: 109px;
    }
}
@media (min-width: 992px){
    .container{
        max-width: 960px;
    }
    .nh-navbar__nav-item {
    padding: 0 10px!important;
    }

    .nh-navbar__nav-item {
    padding: 0 10px!important;
    }

    .nh-navbar__nav-item:last-child {
    padding-right: 0!important;
    }
    .hero--power-up-website {
    padding-bottom: 68px;
    }
    .col-lg-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
    }
    .hero__image-wrapper {
    margin-top: 0;
    position: relative;
    }
    .col-lg-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
    }
    .hero__image {
    position: absolute;
    width: 100%;
    right: 0;
    top: -53px;
    }
    .hero__image--ramadhan {
    top: unset;
    bottom: -110px;
    }
    .our-services-v2__card {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0!important;
    }
    .our-services-v2__card:not(:last-child) {
    margin-right: 28px;
    }
    .our-services-website {
    margin-top: 48px;
    }
    .col-lg-6 {
    flex: 0 0 50%;
    max-width: 50%;
    }
    .our-services-website .col-lg-6 {
    max-width: none;
    padding-left: 15px;
    padding-right: 15px;
    }
    .our-services-website .card-body {
    padding: 24px;
    }
    .col-lg-3 {
    flex: 0 0 25%;
    max-width: 25%;
    }
    .our-services-website__img {
    margin-top: 0;
    width: 100%;
    margin-bottom: 0;
    }
    .our-services-website__description, .our-services-website__img, 
    .our-services-website__title {
    text-align: left;
    }
    .col-lg-9 {
    flex: 0 0 75%;
    max-width: 75%;
    }
}
@media (min-width: 1200px) {
    .container{
        max-width: 1140px;
    }
    .container{
        max-width: 1170px!important;
    }
    .d-xl-flex {
    display: flex!important;
    }
    .navbar-expand-xl {
    flex-flow: row nowrap;
    justify-content: flex-start;
    }

    .navbar-expand-xl .navbar-collapse {
    display: flex!important;
    flex-basis: auto;
    }

    .navbar-expand-xl .navbar-nav {
    flex-direction: row;
    }

    .navbar-expand-xl .navbar-nav .nav-link {
    padding-right: .5rem;
    padding-left: .5rem;
    }

    .d-xl-block {
    display: block!important;
    }
}