*{
    padding: 0;
    margin: 0;
    font-family: NunitoSansRegular,sans-serif;
    font-size: 14px;
    /*color: #3a4166;*/
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
    list-style: none;
}

Link {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
}

Link, Link:hover {
    text-decoration: none;
    outline: none;
    color: #3a4166;
}

img {
    border-style: none;
}

img, svg {
    vertical-align: middle;
}

.img-fluid, .img-thumbnail {
    max-width: 100%;
    height: auto;
}

h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.h2, h2 {
    font-size: 2rem;
}

h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

h4 {
    display: block;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: .5rem;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
}

.h3, h3 {
    font-size: 1.75rem;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

.h4, h4 {
    font-size: 1.5rem;
}

h1, h2, h3, h4, h5, p {
    margin: 0;
    padding: 0;
}

.bg-transparent {
    background-color: transparent!important;
}

nav, section {
    display: block;
}

.navbar {
    position: relative;
    padding: .5rem 1rem;
}

.navbar, .navbar>.container, .navbar>.container-fluid {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

ul {
    list-style-type: disc;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

*, :after, :before {
    box-sizing: border-box;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.our-services-website .col-lg-6 {
    max-width: 260px;
    padding-left: 0;
    padding-right: 0;
}

.justify-content-center {
    justify-content: center!important;
}

address, dl, ol, ul {
    margin-bottom: 1rem;
}

dl, ol, ul {
    margin-top: 0;
}

.col, .col-1, .col-2, .col-3, .col-4, .col-5, 
.col-6, .col-7, .col-8, .col-9, .col-10, .col-11, 
.col-12, .col-auto, .col-lg, .col-lg-1, .col-lg-2, 
.col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, 
.col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, 
.col-lg-auto, .col-md, .col-md-1, .col-md-2, .col-md-3, .col-md-4, 
.col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, 
.col-md-11, .col-md-12, .col-md-auto, .col-sm, .col-sm-1, .col-sm-2, 
.col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, 
.col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-auto, .col-xl, 
.col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, 
.col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-auto {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.col-12 {
    flex: 0 0 100%;
    max-width: 100%;
}

.d-none {
    display: none!important;
}

.d-flex {
    display: flex!important;
}

.ml-auto {
    margin-left: auto!important;
}

.container{
    padding-left: 10px;
    padding-right: 10px;
}

.navbar-brand {
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}

.navbar-brand {
    color: #fff;
}

.nh-navbar__nav .navbar-brand {
    padding-top: 0!important;
    padding-bottom: 0!important;
}

.nh-navbar {
    padding-top: 15px;
    background-image: linear-gradient(45deg,#265CD6,rgba(0,92,255,.9219),#007aff);
    top: 0;
    z-index: 1;
}

.nh-navbar__subnav {
    margin: 0;
    padding: 0;
    list-style: none;
    justify-content: flex-end;
}

.nh-navbar__subnav-item {
    padding: 0 16px;
    position: relative;
}

.nh-navbar__subnav-item:last-child {
    padding-right: 0;
}

.nh-navbar__subnav-item-link {
    font-size: 12px;
    color: #fff;
    text-decoration: none;
}

.nh-navbar__subnav-item-icon {
    margin-right: 10px;
    position: relative;
}

.nh-navbar__nav {
    position: relative;
    padding: 0!important;
}

.navbar-collapse {
    flex-basis: 100%;
    flex-grow: 1;
    align-items: center;
}

.nh-navbar__nav-item {
    padding: 8px 0;
}

.nh-navbar__nav-item:first-child {
    padding-top: 26px;
}

.nav-link {
    display: block;
    padding: .5rem 1rem;
}

.nh-navbar__nav-link {
    font-weight: 400;
    color: #fff!important;
    text-transform: uppercase;
    transition: all .8s;
    text-decoration: none;
}

.navbar-nav, .nav-link {
    padding-right: 0;
    padding-left: 0;
}

.navbar-nav .nav-link {
    color: hsla(0,0%,100%,.5);
}

.navbar-nav {
    display: flex;
}

.nh-navbar__nav-item {
    padding: 8px 0;
}

.nh-btn {
    display: inline-block;
    padding: 12px 35px;
    border-radius: 5px;
    font-family: NunitoSansBold,sans-serif;
    font-size: 15px;
    text-transform: uppercase;
    background: #f0f0f0;
}

.nh-btn, .nh-btn:hover {
    color: #3a4166;
    transition: all 1s;
}

.nh-btn--color-white {
    color: #fff;
}

.nh-btn--transparent, .nh-btn--transparent:hover {
    background: 0 0;
}

.nh-btn--border-white {
    border: 1px solid #fff;
}

.nh-btn--radius-50 {
    border-radius: 50px;
}

.nh-navbar__nav-item .nh-btn {
    padding: 7px 22px 5px;
    font-family: NunitoSansBold,sans-serif;
}

.hero {
    padding: 150px 0;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.align-items-center {
    align-items: center!important;
}

.hero--power-up-website {
    padding: 30px 0 0;
    background-image: linear-gradient(45deg,#00349b,rgba(0,92,255,.9219),#007aff);
}

.hero {
    padding-top: 80px;
}

.hero__description {
    font-size: 20px;
    color: #fff;
    margin-bottom: 34px;
}

.hero__title {
    font-size: 50px;
}

.hero__title, .hero__title--syawal {
    font-family: NunitoSansBold,sans-serif;
    font-weight: 700;
    color: #fff;
    margin-bottom: 24px;
}

.hero__title--ramadhan {
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 55px;
    color: #fff;
}

.hero__description--power-up-website {
    font-size: 14px;
    line-height: 25px;
    letter-spacing: .05em;
}

.countdown__title {
    font-size: 13px;
    color: #fff;
}

.countdown__counter {
    margin: 22px 0 43px;
    padding: 0;
    list-style: none;
}

.countdown__counter-item {
    position: relative;
}

.countdown__counter-item:not(:last-child):after {
    position: absolute;
    content: ":";
    font-size: 45px;
    color: #fff;
    top: 50%;
    right: -50%;
    transform: translate(50%,-50%);
}

.countdown__counter-item-time {
    font-size: 45px;
    color: #fff;
}

.countdown__counter-item-title {
    font-size: 12px;
    color: #fff;
    text-align: center;
}

.countdown__counter-item:not(:last-child) {
    margin-right: 55px;
}

.hero__image-wrapper {
    margin-top: 64px;
}

.our-services-v2 {
    padding: 70px 0 65px;
    background: #f6fbff;
}

.our-services-v2__title {
    text-align: center;
    margin-bottom: 55px;
    font-family: NunitoSansBold,sans-serif;
    font-size: 33px;
}

.our-services-v2__list {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.our-services-v2__card {
    display: inline-block;
    max-width: 260px;
    height: 394px;
    padding: 55px 24px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 6px 20px rgba(17,26,104,.2);
    text-align: center;
    margin-left: 15px;
    margin-right: 15px;
    transition: all .4s;
}

.our-services-v2__card:not(:last-child) {
    margin-bottom: 30px;
}

.our-services-v2__service-image {
    margin-bottom: 30px;
}

.our-services-v2__service-title {
    font-family: NunitoSansBold,sans-serif;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 18px;
}

.our-services-v2__service-description {
    font-size: 14px;
    color: rgba(58,65,102,.7);
    margin-bottom: 24px;
}

.our-services-v2__service-start-from {
    font-family: NunitoSansBold,sans-serif;
    font-size: 14px;
    font-weight: 700;
    opacity: .7;
}

.our-services-v2__service-start-from {
    font-family: NunitoSansBold,sans-serif;
    font-size: 14px;
    font-weight: 700;
    opacity: .7;
}

.our-services-v2__service-price {
    font-family: NunitoSansBold,sans-serif;
    font-size: 24px;
    font-weight: 700;
}

.our-services-website {
    margin-top: 55px;
    margin-left: 0!important;
    margin-right: 0!important;
    position: relative;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

.our-services-website .card {
    background: #fff;
    box-shadow: 0 6px 20px rgba(17,26,104,.2);
    border-radius: 8px;
    border: 0;
}

.card-body {
    flex: 1 1 auto;
    padding: 1.25rem;
}

.our-services-website .card-body {
    border-radius: 8px;
    padding-bottom: 55px;
}

.our-services-website__img {
    display: block;
    margin: 30px auto;
    width: 92px;
    height: auto;
}

.our-services-website__title {
    font-family: NunitoSansBold,sans-serif;
    font-size: 18px;
    line-height: 25px;
    color: #3a4166;
    margin-bottom: 16px;
}

.our-services-website__description {
    font-family: NunitoSansRegular,sans-serif;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: .05em;
    color: #757a94;
}

.our-services-website__description, .our-services-website__img, 
.our-services-website__title {
    text-align: center;
}





